html{
    background-color: whitesmoke;
    width: 100%;
}
* {
    box-sizing: border-box;
}

#wrapper { 
    font-size: 1.414em;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 0px;
    font-family: 'Poiret One', cursive;
    border: 5px;
    background-color: white;
    color: black;
    margin-top: 20px;
    clear: both;
}

h1 {
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    font-size: 1.499em;
    color: rgba(255,192,203, 1) ;
    margin-left: 20px;
}
h3 {
    font-family: 'Dancing Script', cursive;
    color: rgba(255,192,203, 1) ;
    margin-left: 20px;
}
.avatarparagraph{
    font-family: 'Poiret One', cursive; /*'Ubuntu Condensed', sans-serif;*/
    margin: 10px;
    font-size: 1.1em;
    color: black;
    
}

.Avatar {
    border-radius: 50%;
    margin: 30px;   
}
.paragraph {
    border-width: 1px 4px 12px 4px;
    margin-right: 20px;
    padding-left: 15px;
    display: block;
    float: right;
    width: 70%;  
}
.imamary{
    margin-left: auto;
    margin-right:auto;
    float: middle;
    width: 70%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    top: 0;
    width: 100%;
    
    
}

li {
    float: left;
}

li a {
    font-family: 'Dancing Script', cursive;
    font-size: 1.999em;
    display: block;
    color: rgba(255,192,203, 1) ;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none; 
}

li a:hover {
    background-color:rgb(130, 144, 144);
}

.column {
    padding-top: 10px;
    margin: 15px;
    float: left;
    width: 45%;
    padding: 10px;
    height: 400px;   
    
}

article {
    column-count: 1;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white; 
}
figcaption {
    font-family: 'Poiret One', cursive;
    font-size: 1.414em;
    align-content: center;
    text-align: center;   
}
.column {
    float: middle;
    width: 33.3%;
    padding: 5px;
   
    
}


.sidebar{
    float: left;
    margin: 10px;
    margin-top: 20px;
    background-color: white;
}



.imagebox, .imagebox2, .imagebox3 {
    width: 300px;
    height: 600px;
    background-color: white;
    float: left;
    margin: 1%;
    margin-left: 5.8%;
    
    
    
}
.pictureone, .picturetwo, .picture3{
    width: 80%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 25px;
    border: 10px;
    content: inside;
    margin-left: 15%;
    
}

}


body {
    padding: 15px;
}
footer {
    clear: both;
    padding-top: 10px;
    margin-top: 10px;
    background-color: white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

/* Page 2 Pictures */
.backgroundpic {
    width: 100%;
    height: 100%;
    
}